{% extends 'base.html' %}

{% load amazon_extras %}
<!-- {% block content %} -->
<!-- <h1>{{user}}'s Cart</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Order id</th>
      <th scope="col">Product name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for key, values in shipid2statues.items %}
    <tr>
        <th scope="row">
            {{key}}
        </th>
        <p>{{shipid2products|hash:key}} </p>
        {% for item in shipid2products|hash:key %}
            <th scope="row">{{item.0}}</th>
            <td>{{item.1}} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <th scope="row">{{values}}</th>
  </tbody>
</table>
<button onclick="window.location.href='orderSucceed/'">Buy</button>
<button onclick="window.location.href='/'">Home</button>
{% endblock %} -->