{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! Welcome to Mini-Amazon!
  <p>Please Search anything you want to buy down there!</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
  </form>
  <button onclick="window.location.href='/amazon/myCart/'">My cart</button>
  <button onclick="window.location.href='/amazon/myOrders/'">My Orders</button>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}